section.first-slide {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
  }
}

.first-slide__container {
  padding-top: 136px;
}

.first-slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.first-slide__shadow {
  position: absolute;
  background: rgba(54, 63, 106, .55);
  background-blend-mode: multiply, normal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.first-slide__content {
  padding-left: 87px;
  max-width: 600px;
}

.first-slide__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 16px;
}

.first-slide__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 136.4%;
  letter-spacing: 0.2px;
  color: #D5D5D5;

  &.mb {
    margin-bottom: 66px;
  }
}

.first-slide__btnGroup {
  display: flex;
  align-items: center;

  & > .btn {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.first-slide__btn {
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
}

.first-slide__btn-1 {
  padding-left: 31px;
  padding-right: 31px;
}

.first-slide__btn-2 {
  padding-left: 25px;
  padding-right: 25px;
  color: #3DACE3;
}

.first-slide__leftBar {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.first-slide__leftBar-circle {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  box-shadow: inset 0px 4px 20px rgba(121, 125, 214, 0.15);
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
  margin-bottom: 41px;

  &:last-child {
    margin-bottom: 0;
  }
}

.first-slide .first-slide__wrapper.owl-carousel {
  .owl-prev, .owl-next {
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: inset 0px 4px 20px rgba(121, 125, 214, 0.15);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));

    span {
      background: url("../img/slider-arrow.svg") no-repeat center;
      background-size: 100% auto;
      width: 9px;
      height: 14px;
      display: block;
      font-size: 0;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(calc(-50% - 26px));
  }

  .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin-left: 3px;
    margin-right: 3px;
    
    &.active {
      background: #FFFFFF;
    }
  }

  .owl-next span {
    transform: rotate(180deg);
  }

  .owl-nav {
    display: flex;
    align-items: center;
    width: 208px;
    justify-content: space-between;
    position: absolute;
    bottom: 49px;
    left: 50%;
    transform: translateX(calc(-50% - 26px));
  }
}

.first-slide__wrapper {
  padding-bottom: 336px;
}

.first-slide__patterns {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.first-slide__pattern-dots {
  position: absolute;
}

.first-slide__pattern-dots-1 {
  height: 329px;
  width: 108px;
  top: 0;
  left: 0;
  background: url("../img/pattern-2.svg") no-repeat center;
  background-size: 100% auto;
  display: block;
}

.first-slide__pattern-dots-2 {
  width: 329px;
  height: 108px;
  top: 144px;
  left: 65%;
  transform: translateX(-50%);
  background: url("../img/pattern-1.svg") no-repeat center;
  background-size: 100% auto;
  display: block;
}

.first-slide__pattern-dots-3 {
  width: 329px;
  height: 108px;
  bottom: 96px;
  left: 21%;
  transform: translateX(-50%);
  background: url("../img/pattern-3.svg") no-repeat center;
  background-size: 100% auto;
  display: block;
}

.first-slide__pattern-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid rgba(61, 172, 227, .1);
  height: 100%;
  width: 1px;
}

.first-slide__pattern-arrow-1 {
  left: 25%;
  &:before {
    content: '';
    width: 1px;
    height: 17px;
    border-left: 1px solid rgba(255, 255, 255, .4);
    position: absolute;
    bottom: 150px;
  }

  &.first-slide__pattern-arrow-1-inset:before {
    bottom: 240px;
  }
}

.first-slide__pattern-arrow-2 {
  left: 50%;
  &:before {
    content: '';
    width: 1px;
    height: 17px;
    border-left: 1px solid rgba(255, 255, 255, .4);
    position: absolute;
    bottom: 150px;
  }
}

.first-slide__pattern-arrow-3 {
  left: 75%;
  &:before {
    content: '';
    width: 1px;
    height: 17px;
    border-left: 1px solid rgba(255, 255, 255, .4);
    position: absolute;
    top: 30px;
  }
}

.first-slide-insert {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;

  .container {
    padding-top: 29px;
    padding-bottom: 223px;
  }

  .row {
    z-index: 3;
    position: relative;
  }
}

.first-slide-insert__shadow {
  background-color: #4759A4;
  background-blend-mode: multiply, normal;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.first-slide-insert__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-slide-insert__breadcrumb {
  margin-bottom: 90px;
  margin-left: 100px;
  background: initial;

  .breadcrumb-item {
    padding-right: 16px;
  }

  a, li {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF !important;


    &:before {
      color: #FFFFFF !important;
      padding-right: 15px !important;
    }
  }
}

.first-slide-insert__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 136.4%;
  letter-spacing: 0.2px;
  color: #D5D5D5;
  max-width: 436px;
  margin-bottom: 0;
}

.first-slide-insert__btn {
  margin-top: 66px;
  max-width: 247px;
  color: #4759A4;
  font-family: Mulish,sans-serif;
}

.first-slide-insert__wrapper {
  padding-left: 86px;
}

.first-slide-insert__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 16px;
  display: block;
}

@media (max-width: 1199.98px) {
  .first-slide-insert .container {
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .first-slide__container {
    padding-top: 130px;
  }

  .first-slide__leftBar {
    display: none;
  }

  .first-slide__content {
    padding-left: 0;
  }

  .first-slide__title {
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
  }

  .first-slide__text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .first-slide__btnGroup {
    flex-direction: column;
  }

  .first-slide__btnGroup>.btn {
    margin: 0 0 20px;
    width: 186px;
    padding: 11px 0;
    font-size: 12px;
    line-height: 18px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .first-slide .first-slide__wrapper.owl-carousel .owl-nav {
    width: 186px;
    bottom: 38px;
  }

  .first-slide .first-slide__wrapper.owl-carousel .owl-dots {
    bottom: 50px;
  }

  .first-slide .first-slide__wrapper.owl-carousel .owl-nav,
  .first-slide .first-slide__wrapper.owl-carousel .owl-dots {
    transform: translateX(-50%);
  }

  .first-slide__wrapper {
    padding-bottom: 166px;
  }

  .first-slide .first-slide__wrapper.owl-carousel .owl-next, .first-slide .first-slide__wrapper.owl-carousel .owl-prev {
    width: 40px;
    height: 40px;
  }

  .first-slide__pattern-arrow {
    display: none;
  }

  .first-slide__pattern-dots-1 {
    top: auto;
    bottom: 38px;
    width: 82px;
    height: 251px;
    left: -30px;
  }

  .first-slide__pattern-dots-2 {
    top: -20px;
    left: 50%;
    width: 251px;
    height: 83px;
  }

  .first-slide-insert__wrapper {
    padding-left: 0;
  }

  .first-slide-insert__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 19px;
    text-align: center;
  }

  .first-slide-insert__text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .first-slide-insert__btn {
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }
}
