.offer {
  background: rgba(230, 244, 251, .5);
  padding-top: 54px;
  padding-bottom: 74px;
}

.offer__title {
  text-align: center;
  margin-bottom: 34px;
  display: block;
}

.offer__subTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #3C64B1;
  margin-bottom: 80px;
  max-width: 854px;
  margin-left: auto;
  margin-right: auto;
}

.offer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offer__item {
  display: flex;
  margin-bottom: 43px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.offer__subTitle2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #333333;
  display: block;
  margin-bottom: 34px;
}

.offer__img {
  width: 84px;
  height: 84px;
  min-width: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 68px;
  background: #FFFFFF;
}

.offer__body {
  display: flex;
  flex-direction: column;

  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #333333;
    display: block;
    margin-bottom: 12px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #555555;
  }
}

.offer_bg-white {
  .offer__img {
    background: #F2F9FD;
  }
}

.offer__title-2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: block;
  margin: 50px auto 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #333333;
}

@media (max-width: 767.98px) {
  .offer {
    padding-top: 43px;
    padding-bottom: 55px;
  }

  .offer__subTitle {
    font-size: 17px;
    line-height: 21px;
  }

  .offer__item {
    flex-direction: column;
    align-items: center;
  }

  .offer__img {
    margin-right: 0;
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-bottom: 20px;

    i {
      max-width: 50%;
    }
  }

  .offer__body span {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
  }

  .offer__subTitle2 {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 30px;
  }

  .offer__title-2 {
    font-size: 18px;
  }
}
