section.service-table {
  padding-top: 40px;
  padding-bottom: 37px;
  overflow: hidden;

  .container {
    max-width: 1600px;
    position: relative;
    z-index: 1;
  }
  
  .row > div:last-child .text-card {
    &:before, &:after {
      display: none;
    }
  }

  .row > div:nth-child(4n+4) .text-card {
    &:before, &:after {
      display: none;
    }
  }
}

section.service-table_threeColumn {
  .row > div:nth-child(3n+3) .text-card {
    &:before, &:after {
      display: none;
    }
  }

  .row > div:nth-child(4n+4) .text-card {
    &:before, &:after {
      display: block;
    }
  }

  .wrapper-line__line-1 {
    left: 33.3%;
  }

  .wrapper-line__line-2 {
    left: 66.6%;
  }
}

.service-table__button {
  text-transform: uppercase;
  padding: 11px 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background: #FFFFFF;
  margin-top: 60px;
}

.service-table__title {
  margin-bottom: 43px;
}

.service-table__subTitle {
  margin-bottom: 0;
  margin-top: 77px;
  display: block;
  text-align: center;
  font-weight: 900;
  color: #363F6A;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .service-table__button {
    margin-top: 10px;
  }

  .service-table__subTitle {
    margin-bottom: 35px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
  }

  .service-table_insert {
    .text-card {
      flex-direction: column;
      margin-bottom: 35px;
      margin-right: 0;
    }

    .text-card__icon {
      margin-right: auto;
      margin-left: auto;
    }

    .text-card__body {
      width: 100%;
      align-items: center;
    }

    .text-card__title {
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
