section.service-table {
  padding-top: 40px;
  padding-bottom: 37px;
  overflow: hidden;

  .container {
    max-width: 1600px;
    position: relative;
    z-index: 1;
  }
  
  .row > div:last-child .text-card {
    &:before, &:after {
      display: none;
    }
  }
}

.service-table__button {
  text-transform: uppercase;
  padding: 11px 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background: #FFFFFF;
}

.service-table__title {
  margin-bottom: 43px;
}

@media (max-width: 767.98px) {
  .service-table__button {
    margin-top: 10px;
  }
}
