h1, .h1 {
  font-size: rem(48);
  line-height: rem(52);
  color: #363F6A;
}

h2, .h2 {
  font-weight: 900;
  font-size: rem(32);
  line-height: rem(39);
  color: #363F6A;
  text-transform: uppercase;
}

h3, h3 {
  font-size: rem(28);
  line-height: rem(33);
}

@media (max-width: 767.98px) {
  h2, .h2 {
    font-size: rem(24);
    line-height: rem(29);
  }

  h3, .h3 {
    font-size: rem(24);
    line-height: rem(29);
  }
}
