
.main-accordion__btn {
  background: rgba(233, 243, 249, .5);
  color: #333333;
  cursor: pointer;
  padding: 17px 13px 17px 28px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  border-bottom: 5px solid #FFFFFF;
  display: flex;
  align-items: center;

  &:hover {
    background: #E6F4FB;
  }

  &.active {
    background: #E6F4FB;
    border-bottom: 0;

    i {
      transform: rotate(180deg);
    }
  }
}

.main-accordion__body {
  padding-left: 28px;
  padding-right: 13px;
  padding-bottom: 33px;
  display: none;
  background: #E6F4FB;
  overflow: hidden;
  border-bottom: 5px solid #FFFFFF;
}

.main-accordion__body-block {
  padding: 31px 23px 35px 33px;
  background: rgba(255, 255, 255, .5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

   p {
     margin-bottom: 0;
   }
}

@media (max-width: 767.98px) {
  .main-accordion__btn {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
}
