.instagram-logo-circle {
  background: url("../img/instagram-logo-circle.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.youtube-circle-logo {
  background: url("../img/youtube-circle-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.star-circle-logo {
  background: url("../img/star-circle-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.yume-logo {
  background: url("../img/yume-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 100px;
  height: 45px;
  display: block;
}

.yume-logo__white {
  background: url("../img/yume-logo__white.svg") no-repeat center;
  background-size: 100% auto;
  width: 100px;
  height: 45px;
  display: block;
}

.circular-graphic-of-business-cycle-or-circuit-icon {
  background: url("../img/circular-graphic-of-business-cycle-or-circuit-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.arrow-right-icon {
  background: url("../img/arrow-right-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 30px;
  display: block;
}

.marker-icon {
  background: url("../img/marker-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 36px;
  display: block;
}

.waterfall-square-icon {
  background: url("../img/waterfall-square-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.solution-icon {
  background: url("../img/solution-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 43px;
  height: 43px;
  display: block;
}

.calendar-page-symbol-on-day-15-icon {
  background: url("../img/calendar-page-symbol-on-day-15-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.medal-icon {
  background: url("../img/medal-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 49px;
  height: 49px;
  display: block;
}

.research-icon {
  background: url("../img/research-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.question-icon {
  background: url("../img/question-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.multiple-users-silhouette-icon {
  background: url("../img/multiple-users-silhouette-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 38px;
  display: block;
}

.plus-icon {
  background: url("../img/plus-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.arrow-right {
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
  display: block;
}

.instagram-white-icon {
  background: url("../img/instagram-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.youtube-white-icon {
  background: url("../img/youtube-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 18px;
  display: block;
}

.star-white-icon {
  background: url("../img/star-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  display: block;
}

.email-icon {
  background: url("../img/email-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.telegram-icon {
  background: url("../img/telegram-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.whatsapp-icon {
  background: url("../img/whatsapp-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.close-icon {
  background: url("../img/close-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
}

.look-icon {
  background: url("../img/look-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.look-icon__grey {
  background: url("../img/look-icon__grey.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.whatsapp-logo {
  background: url("../img/whatsapp-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 23px;
  display: block;
}

.telegram-logo {
  background: url("../img/telegram-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 23px;
  display: block;
}

.instagram-logo {
  background: url("../img/instagram-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 25px;
  display: block;
}

.youtube-logo {
  background: url("../img/youtube-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 29px;
  height: 29px;
  display: block;
}

.vc-ru_logo {
  background: url("../img/vc-ru_logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
  display: block;
}

.vc-ru-white-icon {
  background: url("../img/vc-ru-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  display: block;
}

.quotes-icon {
  background: url("../img/quotes-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 17px;
  display: block;
}

.vc-ru-logo {
  background: url("../img/vc-ru-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

@media (max-width: 767.98px) {
  .yume-logo {
    width: 73px;
    height: 32px;
  }

  .calendar-page-symbol-on-day-15-icon {
    width: 30px;
    height: 33px;
  }

  .solution-icon {
    width: 37px;
    height: 37px;
  }

  .waterfall-square-icon {
    width: 31px;
    height: 31px;
  }

  .marker-icon {
    width: 27px;
    height: 31px;
  }

  .arrow-right-icon {
    width: 39px;
    height: 26px;
  }

  .circular-graphic-of-business-cycle-or-circuit-icon {
    width: 30px;
    height: 30px;
  }
}
