.instagram-logo-circle {
  background: url("../img/instagram-logo-circle.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.youtube-circle-logo {
  background: url("../img/youtube-circle-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.star-circle-logo {
  background: url("../img/star-circle-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.yume-logo {
  background: url("../img/yume-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 100px;
  height: 45px;
  display: block;
}

.yume-logo__white {
  background: url("../img/yume-logo__white.svg") no-repeat center;
  background-size: 100% auto;
  width: 100px;
  height: 45px;
  display: block;
}

.circular-graphic-of-business-cycle-or-circuit-icon {
  background: url("../img/circular-graphic-of-business-cycle-or-circuit-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.arrow-right-icon {
  background: url("../img/arrow-right-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 30px;
  display: block;
}

.marker-icon {
  background: url("../img/marker-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 36px;
  display: block;
}

.waterfall-square-icon {
  background: url("../img/waterfall-square-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.solution-icon {
  background: url("../img/solution-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 43px;
  height: 43px;
  display: block;
}

.calendar-page-symbol-on-day-15-icon {
  background: url("../img/calendar-page-symbol-on-day-15-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.medal-icon {
  background: url("../img/medal-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 49px;
  height: 49px;
  display: block;
}

.research-icon {
  background: url("../img/research-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.question-icon {
  background: url("../img/question-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.multiple-users-silhouette-icon {
  background: url("../img/multiple-users-silhouette-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 38px;
  display: block;
}

.plus-icon {
  background: url("../img/plus-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.arrow-right {
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
  display: block;
}

.instagram-white-icon {
  background: url("../img/instagram-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.youtube-white-icon {
  background: url("../img/youtube-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 18px;
  display: block;
}

.star-white-icon {
  background: url("../img/star-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  display: block;
}

.email-icon {
  background: url("../img/email-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.telegram-icon {
  background: url("../img/telegram-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.whatsapp-icon {
  background: url("../img/whatsapp-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.close-icon {
  background: url("../img/close-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
}

.look-icon {
  background: url("../img/look-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.look-icon__grey {
  background: url("../img/look-icon__grey.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.whatsapp-logo {
  background: url("../img/whatsapp-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 23px;
  display: block;
}

.telegram-logo {
  background: url("../img/telegram-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 23px;
  display: block;
}

.instagram-logo {
  background: url("../img/instagram-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 25px;
  display: block;
}

.youtube-logo {
  background: url("../img/youtube-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 29px;
  height: 29px;
  display: block;
}

.vc-ru_logo {
  background: url("../img/vc-ru_logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
  display: block;
}

.vc-ru-white-icon {
  background: url("../img/vc-ru-white-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  display: block;
}

.quotes-icon {
  background: url("../img/quotes-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 22px;
  height: 17px;
  display: block;
}

.vc-ru-logo {
  background: url("../img/vc-ru-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.accordion-arrow {
  background: url("../img/accordion-arrow.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  min-width: 34px;
  height: 34px;
  display: block;
}

.diagram-icon {
  background: url("../img/diagram-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.flowchart-icon {
  background: url("../img/flowchart-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.steps-icon {
  background: url("../img/steps-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.plan-icon {
  background: url("../img/plan-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 33px;
  display: block;
}

.dice-icon {
  background: url("../img/dice-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 44px;
  display: block;
}

.humans-icon {
  background: url("../img/humans-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 34px;
  display: block;
}

.spotlight-icon {
  background: url("../img/spotlight-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 33px;
  height: 33px;
  display: block;
}

.presentation-2-icon {
  background: url("../img/presentation-2-icon.svg") no-repeat center;
  background-size: 100% auto;
  width:40px;
  height: 40px;
  display: block;
}

.business-presentation-icon {
  background: url("../img/business-presentation-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 37px;
  display: block;
}

.gerb {
  background: url("../img/gerb.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 45px;
  display: block;
}

.list-icon {
  background: url("../img/list-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 33px;
  display: block;
}

.theater-icon {
  background: url("../img/theater-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.staff-symbol-icon {
  background: url("../img/staff-symbol-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 44px;
  display: block;
}

.bald-head-with-science-symbol {
  background: url("../img/bald-head-with-science-symbol.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.snake-icon {
  background: url("../img/snake-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 52px;
  display: block;
}

.press-conference {
  background: url("../img/press-conference.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.Group-humans {
  background: url("../img/Group-humans.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 37px;
  display: block;
}

.discussion-icon {
  background: url("../img/discussion-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.speaker-icon {
  background: url("../img/speaker-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.constructor-with-hard-hat-protection-on-his-head {
  background: url("../img/constructor-with-hard-hat-protection-on-his-head.svg") no-repeat center;
  background-size: 100% auto;
  width: 38px;
  height: 38px;
  display: block;
}

.buffet-icon {
  background: url("../img/buffet-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 43px;
  height: 43px;
  display: block;
}

.placeholder-2 {
  background: url("../img/placeholder-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.marker02 {
  background: url("../img/marker02.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.map-icon {
  background: url("../img/map-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 48px;
  display: block;
}

.globe {
  background: url("../img/globe.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 47px;
  display: block;
}

.workShop {
  background: url("../img/workShop.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 40px;
  display: block;
}

.lecturer-with-screen {
  background: url("../img/lecturer-with-screen.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.puzzle-icon {
  background: url("../img/puzzle-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.seminar-icon {
  background: url("../img/seminar-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.debate-icon {
  background: url("../img/debate-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.Facilitated-sessions {
  background: url("../img/Facilitated-sessions.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 44px;
  display: block;
}

.process {
  background: url("../img/process.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.briefcase {
  background: url("../img/briefcase.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.calendar2 {
  background: url("../img/calendar2.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.time-left {
  background: url("../img/time-left.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.package {
  background: url("../img/package.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.presentation3 {
  background: url("../img/presentation3.svg") no-repeat center;
  background-size: 100% auto;
  width: 42px;
  height: 42px;
  display: block;
}

.graphic2 {
  background: url("../img/graphic2.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.service {
  background: url("../img/service.svg") no-repeat center;
  background-size: 100% auto;
  width: 55px;
  height: 55px;
  display: block;
}

.location {
  background: url("../img/location.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.Press-conferences {
  background: url("../img/Press-conferences.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.stand {
  background: url("../img/stand.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.business-meeting2 {
  background: url("../img/business-meeting2.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 48px;
  display: block;
}

.Tea-presentations {
  background: url("../img/Tea-presentations.svg") no-repeat center;
  background-size: 100% auto;
  width: 49px;
  height: 42px;
  display: block;
}

.drum {
  background: url("../img/drum.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 44px;
  display: block;
}

.drama {
  background: url("../img/drama.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 45px;
  display: block;
}

.speaker2 {
  background: url("../img/speaker2.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.football {
  background: url("../img/football.svg") no-repeat center;
  background-size: 100% auto;
  width: 49px;
  height: 49px;
  display: block;
}

.music {
  background: url("../img/music.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display: block;
}

.clapperboard {
  background: url("../img/clapperboard.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.easel {
  background: url("../img/easel.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.dna {
  background: url("../img/dna.svg") no-repeat center;
  background-size: 100% auto;
  width: 46px;
  height: 46px;
  display: block;
}

.food-tray {
  background: url("../img/food-tray.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.balloon {
  background: url("../img/balloon.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 45px;
  display: block;
}

.cut {
  background: url("../img/cut.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 36px;
  display: block;
}

.microphone {
  background: url("../img/microphone.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.teamwork {
  background: url("../img/teamwork.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.brief {
  background: url("../img/brief.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.copy {
  background: url("../img/copy.svg") no-repeat center;
  background-size: 100% auto;
  width: 38px;
  height: 38px;
  display: block;
}

.video-camera {
  background: url("../img/video-camera.svg") no-repeat center;
  background-size: 100% auto;
  width: 42px;
  height: 42px;
  display: block;
}

.microphone-2 {
  background: url("../img/microphone-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.milestone {
  background: url("../img/milestone.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.translation {
  background: url("../img/translation.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.users-group {
  background: url("../img/users-group.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 45px;
  display: block;
}

.web-site {
  background: url("../img/web-site.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.russia-map {
  background: url("../img/russia-map.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 48px;
  display: block;
}

.calendar-and-clock {
  background: url("../img/calendar-and-clock.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.analytics {
  background: url("../img/analytics.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.video-player {
  background: url("../img/video-player.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.presentation-video {
  background: url("../img/presentation-video.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 39px;
  display: block;
}

.video-player-2 {
  background: url("../img/video-player-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.tutorial {
  background: url("../img/tutorial.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.businessman {
  background: url("../img/businessman.svg") no-repeat center;
  background-size: 100% auto;
  width: 42px;
  height: 42px;
  display: block;
}

.portfolio {
  background: url("../img/portfolio.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 44px;
  display: block;
}

.rating {
  background: url("../img/rating.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 37px;
  display: block;
}

.hand-shake {
  background: url("../img/hand-shake.svg") no-repeat center;
  background-size: 100% auto;
  width: 44px;
  height: 44px;
  display: block;
}

.man-succesing {
  background: url("../img/man-succesing.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 34px;
  display: block;
}

.profit {
  background: url("../img/profit.svg") no-repeat center;
  background-size: 100% auto;
  width: 41px;
  height: 41px;
  display: block;
}

.milestone-icon {
  background: url("../img/milestone-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 25px;
  display: block;
}

.timing-icon {
  background: url("../img/timing-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 31px;
  display: block;
}

.video-camera-icon {
  background: url("../img/video-camera.svg") no-repeat center;
  background-size: 100% auto;
  width: 29px;
  height: 21px;
  display: block;
}

.stopwatch-icon {
  background: url("../img/stopwatch-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 32px;
  display: block;
}

.three-D-graphics-icon {
  background: url("../img/3d-graphics-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 33px;
  display: block;
}

@media (max-width: 767.98px) {
  .yume-logo {
    width: 73px;
    height: 32px;
  }

  .calendar-page-symbol-on-day-15-icon {
    width: 30px;
    height: 33px;
  }

  .solution-icon {
    width: 37px;
    height: 37px;
  }

  .waterfall-square-icon {
    width: 31px;
    height: 31px;
  }

  .marker-icon {
    width: 27px;
    height: 31px;
  }

  .arrow-right-icon {
    width: 39px;
    height: 26px;
  }

  .circular-graphic-of-business-cycle-or-circuit-icon {
    width: 30px;
    height: 30px;
  }
}
