.list-steps {
  list-style-type: none;
  padding-left: 0;
}

.list-steps__item {
  display: flex;
  margin-bottom: 75px;
  position: relative;
  padding-right: 48px;
  min-height: 41px;

  &.active {
    &:before{
      top: 65%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }

  &.red-title {
    span {
      -webkit-text-stroke: 2px #EC6C72;
      -webkit-text-fill-color: #E6F4FB;
    }
  }
  
  &:not(:last-child):before {
    content: '';
    position: absolute;
    bottom: -45px;
    left: 10px;
    background: url("../img/arrow-bottom.svg") no-repeat center;
    background-size: 100% auto;
    width: 22px;
    height: 36px;
    display: block;
  }

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #555555;
  }

  span {
    font-weight: 900;
    font-size: 31px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #4759A4;
    margin-right: 30px;
    display: block;
    min-width: 41px;
  }
}

.list-steps__collapse {
  width: 100%;
}

.list-steps__collapse-btn {
  background: initial;
  box-shadow: none;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #555555;
  text-align: left;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 45px;

  &.active {
    i {
      transform: rotate(180deg);
    }
  }

  i {
    margin-left: auto;
    position: absolute;
    top: -5px;
    right: 50px;
  }
}

.list-steps__collapse-body {
  padding-top: 20px;
  display: none;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .list-steps__item span {
    margin-right: 15px;
    font-weight: 900;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.1px;
    min-width: 34px;
  }

  .list-steps__item {
    margin-bottom: 23px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .list-steps__item:not(:last-child):before {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .list-steps__item p {
    font-size: 14px;
    line-height: 20px;
  }

  .list-steps {
    margin-bottom: 0;
  }

  .list-steps__item span {
    margin-right: 36px;
  }

  .list-steps__collapse-btn i {
    right: 0;
  }

  .list-steps__item {
    padding-right: 0;
  }
}
