.pagination-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination {
  flex-wrap: wrap;

  .page-item {
    background: #FFFFFF;
    border: 1px solid #4E64B4;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 4px;

    .page-link {
      border: 0;
    }

    &:hover {
      .page-link {
        transition: 0.2s;
        background: #4E64B4;
        color: #FFFFFF;
      }
    }

    &.active {
      background: #4E64B4;
      .page-link {
        background: initial;
      }
    }
  }


  .page-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #4E64B4;
    transition: 0.2s;
  }
}
