.tab_item {
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  width: calc(100% + 4px);

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  & > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.tab_item__elem {
  height: 444px;
}

.tab_item__hidden {
  position: absolute;
  display: flex;
  bottom: -100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(26, 34, 74, 0.74), rgba(26, 34, 74, 0.74));
  transition: 0.3s;
  opacity: 0;

  p {
    margin-bottom: 0;
  }
}

.tab_item__block {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;

  &:hover {
    .tab_item__hidden {
      bottom: 0;
      transition: 0.3s;
      opacity: 1;
    }

    .tab_item__text {
      bottom: 76px;
      transition: 0.3s;
    }
  }
}

.tab_item__bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tab_item__body {
  height: 100%;
}

.tab_item__text {
  position: absolute;
  left: 8%;
  bottom: 34px;
  z-index: 1;
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  transition: 0.3s;
}

.tab_item__hidden-footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 26px;
  left: 41px;

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    display: block;
    margin-left: 12px;
  }
}

.tab_item.show {
  .wrapper-tabs__btn-open {
    display: none;
  }

  .wrapper-tabs__btn-close {
    display: block;
  }
}

.wrapper-tabs__btn-close {
  display: none;
}

.wrapper-tabs__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  padding: 11px 33px;
  text-transform: uppercase;
  margin-top: 30px;
  max-width: 228px;
}

section.wrapper-tabs {
  padding-top: 74px;
  padding-bottom: 43px;
  overflow: hidden;
  position: relative;
}

.tab__btn {
  padding: 11px 45px;
  width: 160px;
  
  &:not(.active) {
    background: #FFFFFF;
    color: $primary;
  }
}

.tab_item__elem:nth-child(n+5) {
  //display: none !important;
  opacity: 0;
  height: 0 !important;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.tab_item.show {
  .tab_item__elem:nth-child(n+5) {
    //display: block !important;
    opacity: 1;
    transition: 0.5s;
    height: 444px !important;
  }
}


@media (max-width: 767.98px) {
  .tab_item__elem {
    height: 254px;
  }

  .tab_item.show {
    .hidden-block {
      height: 254px !important;
    }
  }

  section.wrapper-tabs {
    padding-top: 45px;
    padding-bottom: 27px;
  }

  .tab_item {
    flex-wrap: wrap;
    margin-left: -2px;
    margin-right: -2px;
  }

  .tab_item>div {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
  }

  .tab_item__text {
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    bottom: 20px;
  }

  .tab_item__hidden-footer {
    left: 17px;
  }

  .tab_item__block:hover .tab_item__text {
    bottom: 60px;
  }
}
