.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 58px 20px 25px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -24px;
    background: url("../img/plus-icon.svg") no-repeat center;
    background-size: 100% auto;
    display: block;
    width: 16px;
    height: 16px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -24px;
    background: url("../img/plus-icon.svg") no-repeat center;
    background-size: 100% auto;
    display: block;
    width: 16px;
    height: 16px;
  }
}

.text-card__color-text {
  color: #6BBFE9;
  margin-top: -13px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: bold;
}

.text-card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  max-width: 305px;
}

.text-card_horizontal {
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .text-card__icon {
    margin-bottom: 0;
    margin-right: 21px;
  }

  .text-card__title {
    margin-bottom: 6px;
  }

  .text-card__color-text {
    margin-top: 0;
  }
}

.text-card__icon {
  margin-bottom: 35px;
}

.text-card__icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F7FB;
  border-radius: 50%;
  width: 84px;
  height: 84px;
}

.text-card__title {
  align-self: flex-start;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #333333;
  display: block;
  margin-bottom: 13px;
}

.text-card__content {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #777777;
}

.text-card__body {
  display: flex;
  flex-direction: column;
}

.plus-hidden {
  &:before, &:after {
    display: none !important;
  }
}

.plus-bottom-hidden:after {
  display: none !important;
}

.plus-top-hidden:before {
  display: none!important;
}

.section-color-bg {
  .text-card__icon-circle {
    background: #FFFFFF;
  }
}

@media (max-width: 767.98px) {
  .text-card {
    padding: 12px 0 0;
    flex-direction: row;
    align-items: flex-start;
  }

  .text-card__title {
    align-self: flex-start !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
  }

  .text-card__content {
    font-size: 14px;
  }

  .text-card__icon-circle {
    width: 60px;
    height: 60px;

    i {
      max-width: 60%;
    }
  }

  .text-card__icon {
    margin-right: 27px;
  }

  .text-card_horizontal {
    flex-direction: row !important;
    min-width: 290px;
    width: 290px;
    margin-left: auto;
    margin-right: auto !important;
    align-items: center;

    .text-card__body {
      align-items: flex-start;
    }

    .text-card__title {
      margin-left: 0;
      margin-right: 0;
    }

    .text-card__color-text {
      font-size: 14px;
      line-height: 24px;
    }

    .text-card__icon {
      margin-left: 0;
    }
  }

  .text-card_v2 {
    width: 100%;

    .text-card__text {
      max-width: 100%;
    }
  }
}

@media (max-width: 1199.98px) {
  .text-card:before,
  .text-card:after {
    display: none;
  }
}
